.theBigQ {
  text-align : center
}
.card{
  background-color: #d3d3d3;
  height: 100px;
  width: 100px;
}

.leftArrow {
  background: #4679BD;
  text-decoration:none;
  border-radius: 50%;
  display: block;
  height: 80px;
  width: 80px;
  position: absolute;
  left:0
}
.leftArrow::after {
  content:"\2191";
  display: block;
  transform:rotate(270deg);
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;

  
}

.rightArrow {
  background: #4679BD;
  text-decoration:none;
  border-radius: 50%;
  display: block;
  height: 80px;
  width: 80px;
  position: absolute;
  right: 0;
}
.rightArrow::after {
  content:"\2191";
  display: block;
  transform:rotate(90deg);
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;

}

.card{
  margin-left: auto;
  margin-right: auto;
  width: 8em
}