.theBigQ {
  text-align : center
}

.leftArrow {
  background: #4679BD;
  text-decoration:none;
  border-radius: 50%;
  display: block;
  height: 80px;
  width: 80px;
}
.leftArrow::after {
  content:"\2191";
  display: block;
  transform:rotate(270deg);
  color: white;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  
}